# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
control_room-*.tar

# If NPM crashes, it generates a log, let's ignore it too.
npm-debug.log

# The directory NPM downloads your dependencies sources to.
**/node_modules/

# Yarn v3 (no zero-installs)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
**/priv/static/

**/*.plt
**/*.plt.hash

config/secrets/*.exs
!config/secrets/example.exs

.vscode/

# Ignore .history files. directory gets created when using local history plugin
/.history

.env
**/.elixir_ls/
.DS_Store
yarn-error.log
routes.txt
.sobelow

assets/.npmrc

.idea/

control_room.iml

assets/js/react/bundles/devtools/workspaces/documentation/**/*.pdf

.terraform
*.tfstate
*tfstate*
tflist

*.iml

.iex.local.exs

TODO.txt